In [23]:
a=["Apple","Orange","Banana"]

In [24]:
a

['Apple', 'Orange', 'Banana']

In [3]:
b=[1,2,3,"Disha"]

In [4]:
b

[1, 2, 3, 'Disha']

In [9]:
c="Apple"
d="oranges"

In [10]:
if c== "Apple":
    print(True)

True

In [12]:
len(b)

4

In [13]:
b.index("Disha")     #Index-fetches the position

3

In [20]:
b.index(1)

0

In [22]:
len(a)

1

In [25]:
a

['Apple', 'Orange', 'Banana']

In [26]:
len(a)

3

In [27]:
d=["apple","lemon","orange","apple"]       #List

In [28]:
d

['apple', 'lemon', 'orange', 'apple']

In [29]:
set(d)      #Not repetitive, curly brackets,Removes duplicates.

{'apple', 'lemon', 'orange'}

In [30]:
first_set={1,2,3}

In [31]:
first_set

{1, 2, 3}

In [52]:
a_1={"name":"Disha",                #Dictionary
     "age":24,
     "gender":"Female",
     "Status":True}

In [53]:
a_1

{'name': 'Disha', 'age': 24, 'gender': 'Female', 'Status': True}

In [54]:
a_1["name"]

'Disha'

In [4]:
a_1=[{"name":"Disha",
     "age":24,
     "gender":"Female",
     "Status":True},
     {"name":"Varsha",
     "age":24,
     "gender":"Female",
     "Status":True}]

In [5]:
a_1[1]["name"]

'Varsha'

In [4]:
a=["apple","lemon"]

In [5]:
a

['apple', 'lemon']

In [6]:
a.append("momo")   #To add

In [7]:
a

['apple', 'lemon', 'momo']

In [8]:
a.remove("apple")   #To remove

In [9]:
a

['lemon', 'momo']

# Self pratice

1. List Problem Statement
Problem: You are given a list of numbers. Write a Python program to:

Add a new number to the list.
Remove all occurrences of a specific number.
Sort the list in ascending order.
Calculate the sum of all numbers in the list.
numbers = [4, 2, 8, 6, 4, 9, 3]
# Add 10 to the list
# Remove all occurrences of 4
# Sort the list
# Calculate the sum of the list

In [25]:
numbers = [4, 2, 8, 6, 4, 9, 3]

In [26]:
numbers.append(10)

In [27]:
numbers

[4, 2, 8, 6, 4, 9, 3, 10]

In [30]:
numbers.remove(4)

In [31]:
numbers

[2, 8, 6, 9, 3, 10]

In [11]:
numbers.sort()
print("Sorted list:", numbers)

Sorted list: [2, 3, 6, 8, 9, 10]

In [32]:
numbers = [4, 2, 8, 6, 4, 9, 3]

In [33]:
sum=0

In [36]:
for i in numbers:
    sum=sum+i

In [37]:
sum

43

# 2. Set Problem Statement
Problem: You are given two sets of integers representing two classes of students. Write a Python program to:

Find the union of the two sets (students who are in either class).
Find the intersection (students who are in both classes).
Find the difference between the two sets (students who are in one class but not the other).
Example:

python
Copy code
class_a = {1, 2, 3, 4, 5}
class_b = {4, 5, 6, 7, 8}
# Find union, intersection, and difference

In [39]:
class_a = {1, 2, 3, 4, 5}

In [40]:
class_b = {4, 5, 6, 7, 8}

In [41]:
union_set = class_a.union(class_b)

In [42]:
union_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [43]:
intersection_set = class_a.intersection(class_b)

In [44]:
intersection_set

{4, 5}

In [46]:
differnce_set = class_a.difference(class_b)

In [47]:
differnce_set

{1, 2, 3}

In [49]:
differnce_set_1 = class_b.difference(class_a)

In [50]:
differnce_set_1

{6, 7, 8}

# 3. Dictionary Problem Statement
Problem: Write a Python program to manage a student's grades using a dictionary, where the subject name is the key and the grade is the value. Your program should:

Add a new subject and grade.
Update the grade of an existing subject.
Calculate the average of all grades.
Remove a subject from the dictionary.
Example:

python
Copy code
grades = {"Math": 85, "English": 78, "Science": 92}
 Add "History": 88
Update "Math" grade to 90
Calculate average of grades
Remove "English"

In [65]:
grades = {"Math": 85, "English": 78, "Science": 92}

In [54]:
grades["History"] = 88
print("After adding History:", grades)

After adding History: {'Math': 85, 'English': 78, 'Science': 92, 'History': 88}

In [55]:
grades["Math"] = 90
print("After updating Math grade:", grades)

After updating Math grade: {'Math': 90, 'English': 78, 'Science': 92, 'History': 88}

In [58]:
grades.pop("English")                            #pop=used to remove
print("After removing English:", grades)

After removing English: {'Math': 90, 'Science': 92, 'History': 88, 'Enlish': 78}

In [66]:
average_grade = sum(grades.values()) / len(grades)      #unable to figure this outtttt

TypeError: 'int' object is not callable